# IntelliJ project files
.idea
*.iml
out
gen
node_modules
built
.awcache
coverage
.nyc_output
/node_modules
/.cache
/.vscode
/.idea
/.temp
/dist
/.DS_Store
/coverage
/.nyc_output
/npm-debug.log
/package-lock.json